<h1 class="alert alert-success animated fadeIn fast">Bienvenidos a la COMIC APP</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, soluta eos? Vero totam architecto labore. Dolorum dolor ex quia. Iusto ex nisi deserunt, ipsa quos reiciendis autem perspiciatis quis pariatur sequi voluptas harum fugit. Minima dicta recusandae
    excepturi distinctio at, consectetur dolorum blanditiis reiciendis consequatur mollitia illo? Odio ipsa nam perspiciatis fugiat sed, maiores in exercitationem sunt voluptate, explicabo hic asperiores rerum aliquam, deleniti aspernatur et excepturi
    ullam odit unde quidem eius. Voluptatibus voluptate eveniet eius distinctio, quisquam maxime magnam accusantium ea assumenda aliquid optio aut ab porro fuga. Nobis ab, accusantium nostrum aliquid aut ut. Accusantium ad dignissimos veritatis.
</p>